* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  background-color: #1E2D3B;
}
header {
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #2E3A46;
}
.logo img {
  max-width: 180px;
}
.select-genre {
  text-align: center;
  padding: 20px;
}
.choose-genre {
  width: 100px;
  height: 50px;
  background-color: #2E3A46;
  border: 1px solid #1E2D3B;
  color: #33f315;
  font-weight: bold;
  border-radius: 11px;
  font-size: 13px;
  cursor: pointer;
}

.choose-genre:focus {
  outline: none;
}
.container-albums {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1020px;
  margin: auto;
}
.album {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  height: 100%;
  flex-basis: 22%;
  margin: 10px;
  background-color:  #2E3A46;
}
.title-album {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
}
.album img {
  max-width: 220px;
  max-height: 200px;
}
.text-grey {
  color: grey;
}
